<div class="app-layout">
  <div class="panel-drawer" [ngClass]="{opened: showDrawer}">
    <ng-container *ngFor="let notif of notifications">
      <app-user-notification [notification]="notif" (dblclick)="goToTarget(notif)"></app-user-notification>
    </ng-container>
  </div>
  <div class="app-layout-panel-left">
    <div class="panel-head">
      <app-user-widget [hasUnreadNotifs]="hasUnreadNotification" (toggleNotifications)="onToggleNotifications()"></app-user-widget>
    </div>
    <div class="panel-body">
      <app-room-menu></app-room-menu>
    </div>

  </div>
  <div class="app-layout-panel-main">
    <router-outlet></router-outlet>
  </div>
</div>
