<div class="user-registration">
  <form nz-form nzLayout="vertical" [formGroup]="registerForm" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-label nzFor="username">Username</nz-form-label>
      <nz-form-control nzErrorTip="Veuillez remplir un nom d'utilisateur!">
        <nz-input-group nzPrefixIcon="user">
          <input class="ant-input" formControlName="username" nz-input placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="password">Mot de passe</nz-form-label>
      <nz-form-control nzErrorTip="Veuillez insérer un mot de passe!">
        <nz-input-group nzPrefixIcon="lock">
          <input class="ant-input" formControlName="password" nz-input type="password" placeholder="Mot de passe" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="confirm-password">Confirmation du mot de passe</nz-form-label>
      <nz-form-control nzErrorTip="Veuillez insérer un mot de passe!">
        <nz-input-group nzPrefixIcon="lock">
          <input class="ant-input" formControlName="pwdVal" nz-input type="password" placeholder="Confirmation du mot de passe" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button class="register-button" nz-button nzType="default" [disabled]="!registerForm.valid">S'enregistrer</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <p class="divider">Déjà enregistré ?</p>
  <button class="login-button" nz-button nzType="primary" (click)="goToLogin()">Connectez-vous</button>
</div>
