<div [class]="shouldHighlight ? 'post highlight' : 'post'">
  <div class="post-author-name">{{ post.createdBy.username }}</div>

  <!-- TIPS: [ngStyle]="{'background-image': url(...) }" -->
  <div class="post-author-photo" [ngStyle]="profilePicture ? { 'background-image': 'url(' + profilePicture + ')' } : {}"></div>
  <div class="post-date">{{ postDate }}</div>

  <!-- TIPS: [ngClass]="{liked: [expression booléenne]}" -->
  <div class="post-user-like" (click)="like()">
    <i nz-icon nzType="heart" [nzTheme]="post.liked ? 'fill' : 'outline'"></i>
  </div>

  <p class="post-text" [innerHTML]="post.message.text.content">
  </p>
 
  <!-- Itérer sur les "attachements" du message -->
  <div class="post-attachements" *ngFor="let element of post.message.attachements">
    <!-- Utiliser ngIf pour afficher le bon composant en fonction du type d'élément-->
    <ng-container [ngSwitch]="element.type">
      <ng-container *ngSwitchCase="'image'">
        <app-post-attachement-image [element]="element"></app-post-attachement-image>
      </ng-container>
      <ng-container *ngSwitchCase="'video'">
        <app-post-attachement-video [element]="element"></app-post-attachement-video>
      </ng-container>
      <ng-container *ngSwitchCase="'youtube'">
        <app-post-attachement-youtube [element]="element"></app-post-attachement-youtube>
      </ng-container>
    </ng-container>
  </div>
  <div #anchor></div>
</div>
