<div class="login">
  <form nz-form nzLayout="vertical" [formGroup]="loginForm" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-label nzFor="username">Username</nz-form-label>
      <nz-form-control nzErrorTip="Veuillez remplir un nom d'utilisateur!">
        <nz-input-group nzPrefixIcon="user">
          <input class="ant-input" formControlName="username" nz-input placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="password">Mot de passe</nz-form-label>
      <nz-form-control nzErrorTip="Veuillez insérer un mot de passe!">
        <nz-input-group nzPrefixIcon="lock">
          <input class="ant-input" formControlName="password" nz-input type="password" placeholder="Mot de passe" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button class="login-button" type="submit" nz-button nzType="default" [disabled]="!loginForm.valid">
          Connexion
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <p class="divider">Pas encore enregistré ?</p>
  <button class="register-button" nz-button nzType="primary" (click)="goToRegistration()">
    Créer un compte
  </button>
</div>
