<div class="room-menu">
  <div class="room-meanu-header">
    <h3>Rooms</h3>
    <!-- TODO  -->
    <button nz-button nzType="default" nzGhost (click)="openChildModal()">
      <i nz-icon nzType="plus"></i>
    </button>
  </div>
  <div class="menu-item" [ngClass]="{'selected': (roomId$ | async) === '[id de la room]'}">
    <ng-container *ngFor="let room of rooms">
      <div (click)="goToRoom(room)">
        {{ room.name }}
      </div>
    </ng-container>
  </div>
</div>
<app-room-create-modal #modal></app-room-create-modal>
